<launch>
    <arg name="yaml_file_path" default="$(find common_cropbox)/params/common_cropbox.yaml"/>
    <node pkg="common_cropbox" type="cropbox_routine" name="common_cropbox" output="screen">
        <param name="type_input" value="laser"/> <!-- laser or pcl -->
        <param name="topic_laser_input" value="scan"/>
        <param name="topic_pcl_input" value=""/>
        <param name="topic_pcl_output" value="scan_cropbox"/>
        <param name="topic_box_contain_points" value="obstacle_status"/>
        <param name="minimum_points_number" value="10"/>
        <param name="laser_frame_name" value="base_link"/>
        <param name="yaml_file_path" value="$(arg yaml_file_path)"/>
        <rosparam command="load" file="$(arg yaml_file_path)"/>
    </node>

    <!-- <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_common_cropbox">

        <remap from="cloud_in" to="scan_cropbox"/>
        <remap from="scan" to="scan_cropbox_laser"/>
        <rosparam>
            transform_tolerance: 0.03
            min_height: 0.0
            max_height: 1.0

            angle_min: -M_PI
            angle_max: M_PI
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0
            range_max: 300
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
    </node> -->
</launch>